.statisticsSectionCompContainer {
  display: flex;
  width: 50rem;
  position: relative;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  justify-content: center;
  height: 6rem;
  min-height: 6rem;
  /* background-color: lightblue; */
}

.countLeftAlignOverlayContainer {
  display: flex;
  position: absolute;
  align-items: center;
  width: 100%;
  height: 100%;
  /* background-color: orange; */
}
