.twoRowContainerCompStyle {
  display: flex;
  width: 100%;
  height: 50%;
  /* background-color: yellow; */
}

.childBlockContentStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
  /* background-color: aquamarine; */
}

.imageSpacer {
  height: 1.3rem;
  width: 1.3rem;
  margin-bottom: 0.8rem;
}

.textInfoStyle {
  font-size: 0.8rem;
}
